@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=LXGW+WenKai+TC&family=Noto+Serif+TC:wght@200..900&display=swap');

:root {
    --BackgroundTop-Color: #D1C0CA;
    --BackgroundBottom-Color: #C3CBD8;
    --Primary-Color: #B18EAC;
    --Unfilled-Color: #66696E;
    /*5*/
    --Text-Dark-Color: #404145;
    --Text-Dark-RGB: rgba(60, 65, 69, 0.5);
    /*6*/
    --Text-Light-Color: #EDF6F1;
    /*7*/
    --Text-Secondary-Color: #73767D;
    /*4*/
}

.jersey-15 {
    font-family: "Jersey 15", sans-serif;
    margin: 0;
}

.lxgw-wenkai {
    font-family: "LXGW WenKai TC", cursive;
    margin: 0;
}

.noto-serif {
    font-family: "Noto Serif TC", serif;
    margin: 0;
}

/*隱藏滾軸工具*/
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

button {
    background: none;
    border: none;
    outline: none;
}

body {
    margin: auto;
    height: 100vh;
    background: linear-gradient(to bottom, var(--BackgroundTop-Color), var(--BackgroundBottom-Color));
}

div.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content img {
    height: 40vh;
}